body{
background-repeat: no-repeat;
background-attachment: fixed;
background-position: up left;
}

.jj1{
color: #A0CE00;
}

.jj2{
color: red;
font-family: Arial
}

.jj3{
color: #A0CE00;
}